.Header{
  height: 50px;
  width: 100%;
  box-shadow: $shadow;
  display: flex;
  background-color: $white;

  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  &-right{
    display: flex;
    align-items: center;

    &:hover &-person{
      opacity: 1;
      top: 54px;
      visibility: visible;
    }

    &-person{
      opacity: 0;
      position: absolute;
      top: 50px;
      display: flex;
      flex-direction: column;
      text-align: center;
      background-color: $white;
      box-shadow: $shadow;
      transition: .3s all ease;
      border-radius: 2px;

      span{
        padding: 10px 30px;
        border-bottom: 1px solid #eee;
        cursor: pointer;
      }
    }

    h4{
      margin: 0 20px;
    }
    
    img{
      width: 30px;
      height: 30px;
      cursor: pointer;
    }

  }

}

