.List{
  width: 550px;
  background-color: $white;
  box-shadow: $small-shadow;
  border-radius: 3px;
  margin: 50px auto;


  table{

    #pastOrders{
      cursor: pointer;
    }

    tr{

      th{
        border-bottom: 2px solid #eee;
        color: black;
        text-align: left;
        padding: 15px;
      }
  
      td{
        padding: 15px;
        border-bottom: 1px solid #eee;
  
        svg{
          cursor: pointer;
          fill: $soft-grey;
          transition: 0.3s;
  
          &:hover{
            fill: $hover-grey;
          }
        }

        input{
          border: none;
          border-bottom: 1px solid $light-grey;
        }

        #person-button{
          background-color: $sidebar-color;

          &:hover{
            background-color: $sidebar-hover;
          }
        }
  
      }

    }
    
  }

}