.Sidebar{
  background-color: $sidebar-color;
  width: 230px;
  height: 100vh;
  box-shadow: $sidebar-shadow;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;

  &-logo{
    padding: 30px;

    a{
      
      h3{
        font-size: 30px;
        font-weight: 900;
        color: $white;
      }

    }

  }

  &-nav{
    display: flex;
    flex-direction: column;

    a{
      color: $white;
      display: flex;
      align-items: center;
      padding: 20px 30px;
      transition: 0.3s;

      svg{
        fill: $white;
        margin-right: 10px;
      }

      &:hover{
        background-color: $sidebar-hover;
      }

      &.active{
        background-color: $sidebar-hover;
      }

    }

  }

}