.TablesContent{ 
  display: flex;
  flex-direction: column;

  &-container {
    max-width: 980px;
    overflow-x: auto;
  }

  &-wrapper{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 20px;
  }

  &-table{
    background-color: $white;
    box-shadow: $small-shadow;
    border-radius: 3px;
    width: 80px;
    height: 80px;
    flex-grow: 0;
    flex-shrink: 0;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    &:hover svg{
      opacity: 1;
    }

    span{
      color: $white;
      font-size: 30px;
      font-weight: bold;
    }

    svg{
      fill: $light-grey;
      opacity: 0;
      transition: 0.2s;
    }
    
  }

}