.TablesContent{ 
  display: flex;
  flex-direction: column;

  &-row{
    display: flex;

    &-table{
      background-color: $white;
      box-shadow: $small-shadow;
      border-radius: 3px;
      width: 80px;
      height: 80px;
      flex-grow: 0;
      flex-shrink: 0;
      margin: 5px;
      cursor: pointer;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      
      &:hover svg{
        opacity: 1;
      }

      span{
        color: $white;
        font-size: 30px;
        font-weight: bold;
      }
  
      svg{
        fill: $light-grey;
        opacity: 0;
        transition: 0.2s;
      }
      
    }

  }

}