$sidebar-shadow: 5px 0px 20px rgba(0, 0, 0, 0.20);
$shadow: 0px 10px 20px rgba(0, 0, 0, 0.10);
$small-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);

$sidebar-color: #1E1E2D;
$sidebar-hover: #131923;
$white: #fff;
$bg-color: #E5E5E5;
$light-grey: #ECECEC;

$soft-grey: #c7c7c7;
$hover-grey: #5c5c5c;

$pink: #F5365C;
$blue: #0079FB;
$green: #2DCE89;
$orange: #FB6340;

$button: #B71C1C;
$button-hover: #680B0B;

