$sidebar-color: #1E1E2D;
$sidebar-hover: #131923;
$white: #fff;
$sidebar-shadow: 5px 0px 20px rgba(0, 0, 0, 0.20);
$shadow: 0px 10px 20px rgba(0, 0, 0, 0.10);

$pink: #F5365C;
$blue: #0079FB;
$green: #2DCE89;
$orange: #FB6340;